<template>
<transition name="fade">
    <div id="modal" v-show="show" transition="fade">
        <div class="modal-mask" @click="close">
            <div class="modal-container" @click.stop>
                <a href="#" class="modal-close" @click="close">╋</a>
                <h1>Want to get updates?</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rerum aliquid maxime, temporibus praesentium earum non delectus quod nemo ullam vero illo, explicabo nulla doloremque eveniet culpa cumque magnam neque.
                </p>
                <div v-if="hasDaily">
                    <input type="radio" id="newsletter-choice-d" value="Daily" v-model="newsletterChoice">
                    <label for="newsletter-choice-d">Daily</label>
                    <input type="radio" id="newsletter-choice-w" value="Weekly" v-model="newsletterChoice">
                    <label for="newsletter-choice-w">Weekly</label>
                </div>
                <input autofocus ref="input" v-model="email" type="email" @keydown.enter="submitEmail" placeholder="Please enter your email">
                <button :disabled="inProgress" @click="submitEmail">Submit</button>
                <small class="status" :class="{error : hasError}">{{status}}</small>
            </div>
        </div>
    </div>
</transition>
</template>

<script>
//√ Add autofocus
//√ Handle mailchimp errors
//√ Add weekly daily options
//Track google events
//√ Disable button on submit
//√ Shows the status of sending email
//? is it good practice to store variables like hasError in data?
//? How to import Axios?
//? Say that I want to make this as a component, in one use I need daily, weekly option and on the other use I don't need, how do I solve this?
export default {
  name: 'modal',
  props: {
    hasDaily: {
        type: Boolean,
        default: false
    }
  },
  methods: {
    open: function(){
        this.show = true;
    },
    close: function(){
        this.show = false;
    },
    submitEmail: function(){
        let email_re = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i;
        if(this.email === '')
        {
            this.hasError = true;
            this.$refs.input.focus();
            this.status = 'Please enter your email address.';
        }
        else if(!email_re.test(this.email))
        {
            this.hasError = true;
            this.$refs.input.focus();
            this.status = 'Please enter a valid email address.';
        }
        else
        {
            //Seems like a valid email
            this.hasError = false;
            this.status = "Just a second...";
            this.inProgress = true;

            //Send to mailchimp
            var xhr = new XMLHttpRequest();
            var self = this;
            console.log(this.newsletterChoice);
            xhr.open('POST', 'https://thenews.im/mc/ajax-fuic.php',true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200)
                {
                    if(xhr.responseText)
                    {
                        let json = JSON.parse(xhr.responseText);
                        if(json.email && json.euid)
                        {
                            self.hasError = false;
                            self.status = "Successfully subscribed!";
                        }
                        else
                        {
                            self.hasError = true;
                            self.$refs.input.focus();
                            self.status = json.error;
                        }
                        self.inProgress = false;
                    }
                }
            }
            xhr.send("email=" + this.email);
        }
    }
  },
  created: function(){
    document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode == 27) {
            this.close();
        }
    });
    this.newsletterChoice = 'Daily';
  },
  data: function(){
    return {
        show: false,
        status: '',
        email: '',
        hasError: false,
        inProgress: false,
        newsletterChoice: 'Daily'
    }
  }
}
</script>

<style lang="sass" scoped>

#modal{
    transform: transale3d(0,0,0);
}

.modal-mask{
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    width: 100%;
    max-width: 50%;
    min-width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    animation: modalShow 0.2s;
    position: relative;
    transform: translateZ(0);
    animation-timing-function: cubic-bezier(.165,.84,.44,1);
    margin-top: -50px;
    padding: 16px;
    box-sizing:border-box;
    transition: transform 0.2s;
    input{
        &:focus{
            outline: none;
        }
    }
    .status{
        &.error{
            color: red;
        }
    }
}

.modal-close{
    position: absolute;
    right: 12px;
    top: 8px;
    color: #000;
    text-decoration: none;
    transform: rotate(45deg);
    color: #DEE1E3;
    font-size: 24px;
    transition: color .1s, transform 0.1s;
    &:hover{
        color: #95a5a6;
    }
    &:active{
        transform: rotate(45deg) scale(0.9);
    }
}

.fade-leave-active {
    opacity: 0;
    transition-duration: 0.2s;
    .modal-container{
        transform: scale(0.95);
    }
}

@keyframes modalShow{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
</style>
