<template>
    <transition name="fade">
        <div class="social" :class="{scrollActive : scrollActive}">
            <div class="twitter">
                <a href="javascript:;" @click="openPopup('twitter')">
                <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
                  <path d="
                    M 630, 425
                    A 195, 195 0 0 1 331, 600
                    A 142, 142 0 0 0 428, 570
                    A  70,  70 0 0 1 370, 523
                    A  70,  70 0 0 0 401, 521
                    A  70,  70 0 0 1 344, 455
                    A  70,  70 0 0 0 372, 460
                    A  70,  70 0 0 1 354, 370
                    A 195, 195 0 0 0 495, 442
                    A  67,  67 0 0 1 611, 380
                    A 117, 117 0 0 0 654, 363
                    A  65,  65 0 0 1 623, 401
                    A 117, 117 0 0 0 662, 390
                    A  65,  65 0 0 1 630, 425
                    Z"
                    style="fill:#fff;"/>
                </svg>

                Tweet</a>
            </div>
            <div class="facebook" v-once v-html="facebookHtml()"></div>
        </div>
    </transition>
</template>

<script>
// Compute once
// Do not show after 1 week
export default {
    name: 'social',
    props: ['url','via','fbId','tweet'],
    methods: {
        facebookHtml : function(){
            return '<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F'+this.fbId+'&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=536182929745005" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:21px;" allowTransparency="true"></iframe>'
        },
        openPopup : function(source){
            let popup = {
                status: false,
                resizable: true,
                toolbar: false,
                menubar: false,
                scrollbars: false,
                location: false,
                directories: false,
                width: 626,
                height: 436,
                top: 0,
                left: 0,
                window: undefined,
            };

            let share_url = '';
            switch(source){
                case 'twitter':{
                    share_url = 'https://twitter.com/intent/tweet?text='+this.tweet+'&url='+this.url+'&via='+this.via+'&source=webclient';
                }
            }

            window.open(
                share_url,
                'sharer',
                'status=' + (popup.status ? 'yes' : 'no') +
                ',height=' + popup.height +
                ',width=' + popup.width +
                ',resizable=' + (popup.resizable ? 'yes' : 'no') +
                ',left=' + popup.left +
                ',top=' + popup.top +
                ',screenX=' + popup.left +
                ',screenY=' + popup.top +
                ',toolbar=' + (popup.toolbar ? 'yes' : 'no') +
                ',menubar=' + (popup.menubar ? 'yes' : 'no') +
                ',scrollbars=' + (popup.scrollbars ? 'yes' : 'no') +
                ',location=' + (popup.location ? 'yes' : 'no') +
                ',directories=' + (popup.directories ? 'yes' : 'no')
            );

        }
    },
    created: function(){
        let self = this;
        window.addEventListener("scroll",_.throttle(function() {
            //Show the div
            self.scrollActive = true;
            console.log(self.scrollActive)
            debouncedHide();
        },2000));
        var debouncedHide = _.debounce(function() {
            //Hide the div
            self.scrollActive = false;
            console.log(self.scrollActive)
        },4000);
    },
    data: () => {
        return {
            scrollActive : false
        }
    }
}
</script>

<style lang="sass" scoped>
.twitter a{
    width:67px;
    display:inline-block;
    color:#fff;
    text-decoration:none;
    height:20px;
    line-height:20px;
    text-align:right;
    padding-right: 6px;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 11px;
    border-radius: 3px;
    float:left;
    margin-bottom: 5px;
    background: #1c94df;
    &:hover{
        opacity: 0.9;
    }
    svg{
        transform: scale(0.2);
        transform-origin: top left;
        left: 5px;
        top: 5px;
        position: absolute;
    }
}
.social{
    position: fixed;
    bottom: 13px;
    left: 13px;
    opacity:0;
    pointer-events:none;
    transition: 0.2s;
    transform: scale(0.8);
    height: 45px;
    transform-origin: bottom center;
    &.scrollActive{
        opacity: 1;
        pointer-events:inherit;
        transform: scale(1);
    }
}
</style>